body, html {
    margin: 0;
    padding: 0;
}

html, body, #app, .main-layout {
    height: 100%;
}

body {
    background-color: white;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.page-title {
    font-family: Dolce-Vita;
    font-size: 50%;
    color: white;
    text-align: center;

}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    bottom: 50%;

}
.texto {
    margin-left: 10px;
    text-size: 70px;
}
.inicio {
    position: absolute !important;
    top: 0;
    right: 0;
    height: 60px;
    width: auto;
    padding: 20px;
    margin-right: 20px;
    margin-top: 10px;
}



