<template>
    <layout>
        <div>
            <template>
                <v-main>
                    <v-container fluid>
                        <v-row>
                            <v-col>
                                <v-card-text style="width: 100%" class="elevation-1">
                                    <v-toolbar color="#0D1BD1" dark flat>
                                        <v-toolbar-title>Nuevo Trabajador</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on }">
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>
                                                    <v-btn color="#99A3A4 " :disabled="!form.valid"
                                                           v-on:click="submit()">Crear
                                                    </v-btn>
                                                    <v-spacer></v-spacer>
                                                </v-card-actions>
                                            </template>
                                        </v-tooltip>
                                    </v-toolbar>
                                    <v-card-text>
                                        <form ref="form" v-model="form.valid">
                                            <v-text-field type="text" v-model="form.empleadoNombre"
                                                          name="empleadoNombre" :rules="rules"
                                                          label="Nombre del empleado"></v-text-field>
                                            <v-text-field type="text" v-model="form.apellidos" name="apellidos"
                                                          :rules="rules" label="Apellidos"></v-text-field>
                                            <v-text-field type="text" v-model="form.edad" name="edad" :rules="rules"
                                                          label="Edad"></v-text-field>
                                            <v-text-field type="text" v-model="form.cumpleanos" name="cumpleanos"
                                                          :rules="rules" label="Cumpleanos"></v-text-field>
                                            <v-text-field type="text" v-model="form.pais" name="pais" :rules="rules"
                                                          label="Pais"></v-text-field>
                                            <v-text-field type="text" v-model="form.empresa" name="empresa"
                                                          :rules="rules" label="Empresa"></v-text-field>
                                        </form>
                                    </v-card-text>
                                </v-card-text>
                            </v-col>
                        </v-row>

                    </v-container>
                </v-main>
            </template>
        </div>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout
        },
        data() {
            return {
                form: {
                    valid: true,
                    empleadoNombre: '',
                    apellidos: '',
                    edad: '',
                    cumpleanos: '',
                    pais: '',
                    empresa: ''
                },
                rules: [
                    v => !!v || 'Todos los espacios tienen que ser completados.',
                ],
            }
        },
        props: {
            source: String,
        },
        methods: {
            submit() {
                this.$inertia.post('/empleados', {
                    empleadoNombre: this.form.empleadoNombre,
                    apellidos: this.form.apellidos,
                    edad: this.form.edad,
                    cumpleanos: this.form.cumpleanos,
                    pais: this.form.pais,
                    empresa: this.form.empresa
                });

            },
        },


    }
</script>
