<template>
    <div>
        <template >
            <v-main>
                <v-container fluid >
                    <v-row>
                        <v-col cols="12" sm="8" md="4">
                            <v-card class="elevation-12">
                                <v-toolbar color="#A3E4D7" dark flat>
                                    <v-toolbar-title>Actualizar Empleado</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-tooltip bottom>
                                        <template v-slot:activator="{ on }">
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="#A2D9CE" :disabled="!form.valid" v-on:click="submit()">Actualizar</v-btn>
                                            </v-card-actions>
                                        </template>
                                    </v-tooltip>
                                </v-toolbar>
                                <v-card-text>
                                    <form ref="form" v-model="form.valid" >
                                        <v-text-field type="text" v-model="form.empleadoNombre" name="empleadoNombre"  label="Nombre del empleado"></v-text-field>
                                        <v-text-field type="text" v-model="form.apellidos" name="apellidos"  label="Apellidos"></v-text-field>
                                        <v-text-field type="text"  v-model="form.edad" name="edad"  label="Edad"></v-text-field>
                                        <v-text-field type="text" v-model="form.cumpleanos" name="cumpleanos"  label="Cumpleanos"></v-text-field>
                                        <v-text-field type="text" v-model="form.pais" name="pais"  label="Pais"></v-text-field>
                                        <v-text-field type="text" v-model="form.empresa" name="empresa"  label="Empresa"></v-text-field>
                                    </form>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>

                </v-container>
            </v-main>
        </template>
    </div>
</template>
<script>
    export default {
        components: {},
        data() {
            return {
                form: {
                    valid: true,
                    empleadoNombre: '',
                    apellidos: '',
                    edad: '',
                    cumpleanos: '',
                    pais: '',
                    empresa: ''
                },

            }
        },
        props: {
            source: String,
        },
        methods: {
            submit() {
                //console.log(this.$refs.form.submit());
                this.$inertia.put('/empleados/' + this.form.id , {
                    empleadoNombre: this.form.empleadoNombre,
                    apellidos: this.form.apellidos,
                    edad: this.form.edad,
                    cumpleanos: this.form.cumpleanos,
                    pais: this.form.pais,
                    empresa: this.form.empresa
                });

            },
            mounted() {
                if (this.$page.empleado){
                    this.empleado = this.$page.empleado;
                }
            }
        },


    }
</script>
