<template>
    <layout>
        <v-card>
            <template>
                <v-toolbar flat color="#1474E5">
                    <v-toolbar-title>Empleados</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-divider inset vertical ></v-divider>
                    <v-spacer></v-spacer>
                    <v-btn color="#99A3A4" href="/empleados/create">Nuevo</v-btn>
                </v-toolbar>
            </template>

            <template>
                <v-data-table v-model="edit" :headers="headers" :data="empleado" :items="empleado">
                    <template slot-scope="scope">
                        {{scope.row}}
                        <v-icon small  @click="edit">mdi-pencil</v-icon>
                        <v-icon small @click="remove">mdi-delete</v-icon>
                    </template>
                </v-data-table>

            </template>
        </v-card>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";
    export default {
        components: {
            Layout
        },
        data(){
            return{
                headers: [
                    {
                        text: 'Nombre',
                        align: 'start',
                        sortable: false,
                        value: 'empleadoNombre',
                        slot: 'scope'

                    },
                    { text: 'Apellidos', value: 'apellidos', sortable: false},
                    { text: 'Edad', value: 'edad', sortable: false},
                    { text: 'Cumpleanos', value: 'cumpleanos', sortable: false},
                    { text: 'Pais', value: 'pais', sortable: false},
                    { text: 'Empresa', value: 'empresa', sortable: false},
                    { text: 'Acciones', sortable: false}
                ],
                empleado: [
                    {
                        empleadoNombre: '',
                        apellidos: '',
                        edad: '',
                        cumpleanos: '',
                        pais: '',
                        empresa: '',

                    }
                ],

            }
        },
        props: {
            source: String,
        },

        methods: {
            edit($id){
                this.$inertia.visit('/empleados/' + $id + '/Edit');

            },
            remove($id){
                this.$confirm('¿Etá seguro que desea eliminar a este empleado?', 'Advertencia', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancelar',
                    type: 'warning'
                }).then(() => {
                    this.$inertia.delete('/empleados/' + $id);
                }).cath(() => {
                    this.$message({
                        type: 'info',
                        message: 'Eliminar cancelado'
                    });
                });
            }

        },
        mounted() {
            if(this.$page.empleados){
                this.empleado = this.$page.empleados
            }
        }

    }
</script>



<!--<template>-->
<!--    <layout>-->
<!--        <v-card class="overflow-hidden">-->
<!--            <v-sheet-->
<!--                id="scrolling-techniques-2"-->
<!--                class="overflow-y-auto"-->
<!--                max-height="100"-->
<!--            >-->
<!--                <v-container style="height: 1000px;"></v-container>-->
<!--            </v-sheet>-->
<!--            <v-data-table-->
<!--                :headers="headers"-->
<!--                :items="empleadosInfo"-->
<!--                sort-by="calories"-->
<!--                class="elevation-1"-->
<!--            >-->
<!--                <template v-slot:top>-->
<!--                    <v-toolbar flat color="white">-->
<!--                        <v-toolbar-title>Empleados</v-toolbar-title>-->
<!--                        <v-divider-->
<!--                            class="mx-4"-->
<!--                            inset-->
<!--                            vertical-->
<!--                        ></v-divider>-->
<!--                        <v-spacer></v-spacer>-->
<!--                        <v-dialog v-model="dialog" max-width="500px">-->

<!--                            <template v-slot:activator="{ on, attrs }">-->
<!--                                <v-btn-->
<!--                                    style="background-color: greenyellow"-->
<!--                                    dark-->
<!--                                    class="mb-2"-->
<!--                                    v-bind="attrs"-->
<!--                                    v-on="on"-->
<!--                                >Agregar Trabajador</v-btn>-->
<!--                            </template>-->
<!--                            <v-card>-->
<!--                                <v-card-title>-->
<!--                                    <span class="headline">{{ formTitle }}</span>-->
<!--                                </v-card-title>-->

<!--                                <v-card-text>-->
<!--                                    <v-container>-->
<!--                                        <v-row>-->
<!--                                            <v-col cols="12" sm="6" md="4">-->
<!--                                                <v-text-field v-model="editedItem.nombre" label="Nombre"></v-text-field>-->
<!--                                            </v-col>-->
<!--                                            <v-col cols="12" sm="6" md="4">-->
<!--                                                <v-text-field v-model="editedItem.apellidos" label="Apellidos"></v-text-field>-->
<!--                                            </v-col>-->
<!--                                            <v-col cols="12" sm="6" md="4">-->
<!--                                                <v-text-field v-model="editedItem.edad" label="Edad"></v-text-field>-->
<!--                                            </v-col>-->
<!--                                            <v-col cols="12" sm="6" md="4">-->
<!--                                                <v-text-field v-model="editedItem.cumpleanos" label="Cumpleanos"></v-text-field>-->
<!--                                            </v-col>-->
<!--                                            <v-col cols="12" sm="6" md="4">-->
<!--                                                <v-text-field v-model="editedItem.pais" label="Pais"></v-text-field>-->
<!--                                            </v-col>-->
<!--                                            <v-col cols="12" sm="6" md="4">-->
<!--                                                <v-text-field v-model="editedItem.empresa" label="Empresa"></v-text-field>-->
<!--                                            </v-col>-->
<!--                                        </v-row>-->
<!--                                    </v-container>-->
<!--                                </v-card-text>-->

<!--                                <v-card-actions>-->
<!--                                    <v-spacer></v-spacer>-->
<!--                                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>-->
<!--                                    <v-btn color="blue darken-1" text @click="save">Save</v-btn>-->
<!--                                </v-card-actions>-->
<!--                            </v-card>-->
<!--                        </v-dialog>-->
<!--                    </v-toolbar>-->
<!--                </template>-->
<!--                <template v-slot:item.actions="{ item }">-->
<!--                    <v-icon-->
<!--                        small-->
<!--                        class="mr-2"-->
<!--                        @click="editItem(item)"-->
<!--                    >-->
<!--                        mdi-pencil-->
<!--                    </v-icon>-->
<!--                    <v-icon-->
<!--                        small-->
<!--                        @click="deleteItem(item)"-->
<!--                    >-->
<!--                        mdi-delete-->
<!--                    </v-icon>-->
<!--                </template>-->
<!--                <template v-slot:no-data>-->
<!--                    <v-btn color="primary" @click="initialize">Reset</v-btn>-->
<!--                </template>-->
<!--            </v-data-table>-->
<!--        </v-card>-->

<!--    </layout>-->
<!--</template>-->
<!--<script>-->
<!--    import Layout from "../../Shared/Layout";-->

<!--    export default {-->
<!--        components: {-->
<!--            Layout-->
<!--        },-->

<!--        data: () => ({-->
<!--            dialog: false,-->
<!--            headers: [-->
<!--                {-->
<!--                    text: 'Empleados',-->
<!--                    align: 'start',-->
<!--                    sortable: false,-->
<!--                    value: 'name',-->
<!--                },-->
<!--                { text: 'Nombre', value: 'nombre' },-->
<!--                { text: 'Apellidos', value: 'apellidos' },-->
<!--                { text: 'Edad', value: 'edad' },-->
<!--                { text: 'Cumpleaños', value: 'cumpleanos' },-->
<!--                { text: 'Pais', value: 'pais' },-->
<!--                { text: 'Empresa', value: 'empresa'},-->
<!--                { text: 'Actions', value: 'actions', sortable: false },-->
<!--            ],-->
<!--            empleadosInfo: [],-->
<!--            editedIndex: -1,-->
<!--            editedItem: {-->
<!--                name: '',-->
<!--                nombre: '',-->
<!--                apellidos: '',-->
<!--                edad: '',-->
<!--                cumpleanos: '',-->
<!--                pais: '',-->
<!--                empresa: '',-->
<!--            },-->
<!--            defaultItem: {-->
<!--                name: '',-->
<!--                nombre: '',-->
<!--                apellidos: '',-->
<!--                edad: '',-->
<!--                cumpleanos: '',-->
<!--                pais: '',-->
<!--                empresa: '',-->
<!--            },-->
<!--        }),-->

<!--        computed: {-->
<!--            formTitle () {-->
<!--                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'-->
<!--            },-->
<!--        },-->

<!--        watch: {-->
<!--            dialog (val) {-->
<!--                val || this.close()-->
<!--            },-->
<!--        },-->

<!--        created () {-->
<!--            this.initialize()-->
<!--        },-->

<!--        methods: {-->

<!--            editItem (item) {-->
<!--                this.$refs.empleadosInfo.validate-->
<!--            },-->

<!--            deleteItem (item) {-->
<!--                const index = this.empleadosInfo.indexOf(item)-->
<!--                confirm('Are you sure you want to delete this item?') && this.empleadosInfo.splice(index, 1)-->
<!--            },-->

<!--            close () {-->
<!--                this.dialog = false-->
<!--                this.$nextTick(() => {-->
<!--                    this.editedItem = Object.assign({}, this.defaultItem)-->
<!--                    this.editedIndex = -1-->
<!--                })-->
<!--            },-->

<!--            save () {-->
<!--                if (this.editedIndex > -1) {-->
<!--                    Object.assign(this.empleadosInfo[this.editedIndex], this.editedItem)-->
<!--                } else {-->
<!--                    this.empleadosInfo.push(this.editedItem)-->
<!--                }-->
<!--                this.close()-->
<!--            },-->
<!--        },-->
<!--    }-->
<!--</script>-->




