<template>
<div>
    <v-app id="inspire">
        <v-navigation-drawer v-model="drawer" app>
            <v-list dense>
                <v-list-item link>
                    <inertia-link href="/">
                        <v-list-item-action>
                           <i class="fas fa-hotel" style="font-size: 30px"></i>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>INICIO</v-list-item-title>
                        </v-list-item-content>
                    </inertia-link>
                </v-list-item>

                <v-list-item link>
                    <inertia-link href="/empleados">
                        <v-list-item-action>
                            <i class="fas fa-user-friends" style="font-size: 30px"></i>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Trabajadores</v-list-item-title>
                        </v-list-item-content>
                    </inertia-link>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
            app
            color="indigo"
            dark
        >
            <inertia-link href="/logout">
                <v-btn class="inicio" color="warning" dark  >Salir</v-btn>
            </inertia-link>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Inevstigacion Empleados</v-toolbar-title>
        </v-app-bar>

        <v-main>
            <v-container class="fill-height" fluid>
                <v-row
                    align="center"
                    justify="center">
                <slot></slot>

                </v-row>
            </v-container>
        </v-main>
        <v-footer
            color="indigo"
            app
        >
        </v-footer>
    </v-app>
</div>

</template>
<script>

    export default {
        name: 'layout',
        props: {
            source: String,
        },
        data: () => ({
            drawer: null,
        }),
        methods: {

        },

        mounted() {

        }
    }
</script>
