
<template>
    <Layout>
        <v-card>
            <v-container>
                <v-row>
                    <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.name" label="Nombre"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.Apellidos" label="Apellidos"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.Edad" label="Edad"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.Cumpleaños" label="Cumpleaños"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.Pais" label="Pais"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.Empresa" label="Empresa"></v-text-field>
                    </v-col>
                </v-row>
            </v-container>
        </v-card>
    </Layout>
</template>
<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout
        },
        data: () => ({
            editedItem: {
                name: '',
                Nombre: '',
                Apellidos: '',
                Edad: '',
                Cumpleaños: '',
                Pais: '',
                Empresa: '',
            },
            methods: {

            }

        }),

        mounted() {


        }
    }
</script>

<!--()=> ({-->
<!--headers: [-->
<!--{-->
<!--align: 'start',-->
<!--sortable: false,-->
<!--value: 'name',-->
<!--},-->
<!--{text: 'Nombre', value: 'Nombre'},-->
<!--{text: 'Apellidos', value: 'Apellidos'},-->
<!--{text: 'Edad', value: 'Edad'},-->
<!--{text: 'Cumpleaños', value: 'Cumpleaños'},-->
<!--{text: 'Pais', value: 'Pais'},-->
<!--{text: 'Empresa', value: 'Empresa'},-->
<!--{text: 'Opciones', value: 'Opciones', sortable: false},-->
<!--],-->
<!--}),-->
