<template>
    <div>
        <template>
            <v-card style="background-color: purple" color="grey lighten-4" flat height="200px" tile>
                <v-toolbar style="background-color: black" prominent extended>
                    <v-toolbar-title class="page-title">Investigacion</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
            </v-card>
        </template>

        <template>
            <v-app id="inspire">
                <v-main>
                    <v-container
                        class="fill-height"
                        fluid
                    >
                        <v-row
                            align="center"
                            justify="center"
                        >
                            <v-col
                                cols="12"
                                sm="8"
                                md="4"
                            >
                                <v-card  class="elevation-12">
                                    <v-toolbar
                                        color="purple"
                                        dark
                                        flat
                                    >
                                        <v-toolbar-title>REGISTRARSE</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on }">
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>
                                                    <v-btn color="red" :disabled="!form.valid" v-on:click="validate" >Entrar</v-btn>
                                                </v-card-actions>
                                            </template>
                                            <span>Source</span>
                                        </v-tooltip>
                                    </v-toolbar>
                                    <v-card-text>
                                        <v-form ref="form" v-model="form.valid" lazy-validation>
                                            <v-text-field
                                                v-model="form.username"
                                                :rules="nameRules"
                                                label="Login"
                                                name="username"
                                                prepend-icon="mdi-account"
                                                type="text"
                                            ></v-text-field>

                                            <v-text-field
                                                v-model="form.password"
                                                :rules="passRules"
                                                :counter="10"
                                                id="password"
                                                label="Password"
                                                name="password"
                                                prepend-icon="mdi-lock"
                                                type="password"
                                            ></v-text-field>
                                        </v-form>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-main>
            </v-app>
        </template>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    valid: true,
                    username: '',
                    password: '',
                },
                nameRules: [
                    v => !!v || 'El usuario es requerido para iniciar sesión',
                    v => (v && v.length <= 10) || 'el ususario debe de tener menos de 10 caracteres',
                ],
                passRules: [
                    v => !!v || 'La contraseña es requerida para ingresar'
                ],
            }

        },
        props: {
            source: String,
        },
        methods: {
            validate() {
                console.log(this.$refs.form.validate());
                    if (this.$refs.form.validate) {
                        this.$inertia.post('/login', {
                            username: this.form.username,
                            password: this.form.password
                        });
                }
            },
        },
    }
</script>
